.registration_options {
  background: #f8f8f8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 455px;
  height: 560px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.3);
}

.registration_input input {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: 300px;
  margin: 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: 0px -5px 0px -4px rgb(132, 130, 130) inset;
}

.registration_input a {
  display: flex;
  text-decoration: none;
  justify-content: end;
  color: #10263c;
  font-family: bold;
  padding-right: 20px;
}
